@import '_mixins.scss';

.home-w {
  @include base-w;

  .heading-w {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-area: heading;
    align-items: flex-end;

    .heading {
      @include heading;
    }

    .see-more {
      font: 400 1.2rem/17px $font;
      color: #979797;

      @include breakpoint(sw768px) {
        font: 400 1.5rem/20px $font;
      }
    }
  }

  .top-rated-overview-w {
    @include base-display;
  }

  %margin {
    margin-top: 50px;

    @include breakpoint(sw768px) {
      margin-top: 70px;
    }
  }

  .popular-overview-w {
    @include base-display;
    @extend %margin;
  }

  .upcoming-overview-w {
    @include base-display;
    @extend %margin;
  }
}
