@import '_mixins.scss';

.home-w {
  @include base-w;

  .heading {
    font: 700 1.8rem/23px $font;
    color: #202020;
  }

  %movie-margin {
    .movie + .movie {
      margin-top: 15px;
    }

    .movie:nth-child(2) {
      margin-top: 20px;
    }
  }

  .top-rated-w {
    @extend %movie-margin;
  }

  .popular-w {
    @extend %movie-margin;
    margin-top: 30px;
  }

  .upcoming-w {
    @extend %movie-margin;
    margin-top: 30px;
  }
}
