@import '_mixins.scss';

.movie {
  min-width: 0;

  .poster {
    width: 100%;
    border: 3px solid #ececec;
  }

  .title {
    font: 700 1.4rem/19px $font;
    color: #202020;
    text-align: left;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include breakpoint(sw768px) {
      font: 700 1.5rem/20px $font;
    }
  }

  .release-date {
    font: 400 1.2rem/17px $font;
    color: #979797;
  }

  // .rating {
  //   font: 400 1.2rem/17px $font;
  //   color: #979797;
  //   grid-area: rating;
  //   margin: 9px 0 0 5px;
  // }

  // .star-icon {
  //   width: 14px;
  //   grid-area: star;
  //   margin: 8px 0 0 12px;
  // }
}
