@import '_mixins.scss';

.pagination {
  padding: 0 30px 30px;

  .page-item {
    font: 700 1.2rem/17px $font;
    display: inline-block;
    padding: 4px 8px;
    background-color: #ffffff;

    .page-link {
      color: #202020;
    }

    &.active {
      background-color: #202020;

      a {
        color: #ffffff;
      }
    }
  }
}
