@import '_mixins.scss';

.search-w {
  margin-top: 15px;

  @include breakpoint(sw660px) {
    position: absolute;
    top: 0;
    left: 170px;
    width: 270px;
  }

  @include breakpoint(sw1024px) {
    top: 15px;
    left: 0;
    right: 414px;
    margin: auto;
  }

  .search-box {
    width: 100%;
    font: 400 1.2rem/17px $font;
    color: #202020;
    background-color: #ffffff;
    padding: 8px 12px;
    border: none;
    caret-color: #202020;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #979797;
    }
  }
}

.search-overlay {
  background-color: #ffffff;
  margin-top: -1px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);

  @include breakpoint(sw660px) {
    margin-top: 6px;
    margin-left: 140px;
    width: 270px;
  }

  li {
    list-style: none;

    &:hover {
      background-color: #d1d1d1;
    }

    a {
      font: 400 1.2rem/17px $font;
      color: #202020;
      padding: 8px 0 8px 12px;
      display: block;
    }
  }

  .no-results {
    display: none;
    font: 700 1.4rem/19px $font;
    color: #202020;
    padding: 8px 12px;

    &.active {
      display: block;
    }
  }
}
