@import '_mixins.scss';

.search-w {
  @include base-w;
  @include base-display;

  .result-heading {
    font: 400 1.4rem/19px $font;
    color: #202020;
    grid-area: heading;

    @include breakpoint(sw768px) {
      font: 400 1.8rem/23px $font;
    }

    .search-value {
      font-weight: 700;
    }
  }
}

.no-results {
  padding: 120px 30px 0;
  font: 700 2rem/25px $font;
  color: #202020;
}
